@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --success: #288154;
  --moss-200: #eef0eb;
  --moss-300: #d2d7cb;
}

@font-face {
  font-family: HEINEKEN Core;
  src: url('/assets/fonts/HEINEKEN Core.eot');
  src:
    url('/assets/fonts/HEINEKEN Core.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HEINEKEN Core.woff') format('woff'),
    url('/assets/fonts/HEINEKEN Core.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HEINEKEN Core;
  src: url('/assets/fonts/HEINEKEN Core-Italic.eot');
  src:
    url('/assets/fonts/HEINEKEN Core-Italic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HEINEKEN Core-Italic.woff') format('woff'),
    url('/assets/fonts/HEINEKEN Core-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: HEINEKEN Core;
}
